*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    background-image:linear-gradient(rgb(248, 6, 6),black);
}

.content{
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 460px;
    border-radius: 10px;

    background: #fff;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fwhite-background&psig=AOvVaw2YU3E86Kj-KfA3Z3QSLIul&ust=1714640761608000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNj3092M7IUDFQAAAAAdAAAAABAE");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left img{
    width: 100%;
    height:100%;
}

.left h1{
    margin-top: 10px;
    font-size: 3em;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
}

.right{
    margin: 20px auto;
    padding: 10px;
}

.inputbox{
    margin: 8px 0px;
    width: 350px;
    height: fit-content;
}

input {
    margin-top: 4px;
    padding: 5px;
    width: 100%;
    height: 28px;
    text-indent: 9px;
    border: none;
    border-radius: 2px;

    background: rgba(128, 128, 128, 0.2);
}

input:hover{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.right .title h2{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.inputbox label{
    font-size: 1em;
}

input::placeholder{
    text-indent: 10px;
}

.create{
    display: flex;
    justify-content: center;
    width: 360px;
}

.create button{
    margin-top: 25px;
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 25px;

    color: #fff;
    background: #000;
}

.or{
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

.sign{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

button{
    width: 160px;
    height: 35px;
    padding: 5px;
    border-radius: 25px;

    background: none;
    border: 2px solid #000;
}
button:hover{
   
    color: black;
    transition: 200ms;
    background: red;
   
}
